<h1>Listing nodes</h1>

<table border='1'>
  <tr>
    <th>Name</th>
    <th>X</th>
    <th>Y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= node.name %></td>
    <td><%= node.x %></td>
    <td><%= node.y %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
    <td><%= link_to 'Destroy', node, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= image_tag("map.png") %>

<br />

<%= link_to 'New Node', new_node_path %>
