<h1>Listing node_links</h1>

<%= image_tag("map.png") %>

<table>
  <tr>
    <th>Id</th>
    <th>Node id</th>
	<th>Node</th>
    <th>Linked node id</th>
	<th>Linked node</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @node_links.each do |node_link| %>
  <tr>
    <td><%= node_link.id %></td>
    <td><%= node_link.node_id %></td>
	<td><%= link_to node_link.node.name, node_link.node %></td>
    <td><%= node_link.linked_node_id %></td>
	<td><%= link_to node_link.linked_node.name, node_link.linked_node %></td>
    <td><%= link_to 'Show', node_link %></td>
    <td><%= link_to 'Edit', edit_node_link_path(node_link) %></td>
    <td><%= link_to 'Destroy', node_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Node link', new_node_link_path %>
