<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :map_img %><br />
    <%= f.text_field :map_img %>
  </div>
  <div class="field">
    <%= f.label :node_id %><br />
	<%= collection_select(:unit, :node_id, Node.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= collection_select(:unit, :player_id, Player.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :node_link_id %> <br />
	<%= f.number_field :node_link_id %> <br />
	Note, a link of 0 implies the unit is not planning to move
  </div>
  <div class="field">
    <%= f.label :red %></br />
	<%= f.number_field :red %>
  </div>
  <div class="field">
    <%= f.label :blue %></br />
	<%= f.number_field :blue %>
  </div>
  <div class="field">
    <%= f.label :green %></br />
	<%= f.number_field :green %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
