<h1>Listing units</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Map img</th>
	<th></th>
	<th>Node</th>
	<th>Node Link</th>
	<th>Red</th>
	<th>Blue</th>
	<th>Green</th>
	<th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.id %></td>
    <td><%= link_to unit.name, unit %></td>
    <td><%= unit.map_img %></td>
	<td><%= image_tag(unit.map_img) %></td>
	<td><%= link_to (unit.node.id.to_s + ". " + unit.node.name), unit.node %></td>
	<td>
	<% if unit.node_link.present? %>
	  <%= link_to unit.node_link.id, unit.node_link %>
	<% else %> 0 <% end %></td>
	<td><%= unit.red %></td>
	<td><%= unit.blue %></td>
	<td><%= unit.green %></td>
	<td><%= unit.player.name if unit.player %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
