<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Map img:</b>
  <%= @unit.map_img %>
  <%= image_tag(@unit.map_img) %>
</p>

<p>
  <b>Node:</b>
  id = <%= @unit.node_id %>
  link = <%= link_to @unit.node.name, @unit.node %>
</p>

<p>
  <b>Player:</b>
  <%= @unit.player.name if @unit.player %>
</p>
<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
