<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Map img:</b>
  <%= @unit.map_img %>
  <%= image_tag(@unit.map_img) %>
</p>

<p>
  <b>Node:</b>
  id = <%= @unit.node_id %>
  link = <%= link_to @unit.node.name, @unit.node %>
</p>

<p>
  <b>Node Link:</b>
  <% if @unit.node_link.present? %>
     id = <%= @unit.node_link.id %>, 
	 from <%= link_to @unit.node_link.node.name, @unit.node_link.node %>
	 to <%= link_to @unit.node_link.linked_node.name, @unit.node_link.linked_node %>
  <% else %>
    This unit is not travelling
  <% end %>
</p>

<p>
  <b>Player:</b>
  <%= @unit.player.name if @unit.player %>
</p>
<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
