<% x ||= 20 %>
<% y ||= 450 %>

<div style="
    position: absolute;
	left: <%= x %>px;
	top: <%= y %>px;
	z-index: 2;
	background-color:#fff0f0;
  ">
  Currently showing all logs for testing purposes, hence some duplication
  <br/>
  Note that margin = attacker strength - defender strength. So a negative margin means the attacker failed.
  <hr />
  <% if @battle_reports %>
    <% @battle_reports.each do |battle_report| %>
      <b><%= battle_report.when.strftime("%a %d-%b %H:%M ") %></b>
	  | (<i><%= battle_report.desc %></i>)
	  <%= battle_report.notes %>
	  <hr />
    <% end %>
  <% end %>
</div>