<% magic_display_tweek = radius*-0.75 #### <-- needs investigating! %>
<% offset_x = map_offset_x + magic_display_tweek %>
<% offset_y = map_offset_y + magic_display_tweek %>

<!--- 
 z-index: 1 ......... map background
 z-index: 2 ......... selectable picture
 z-index: 3 ......... unit icons
-->

<!--- Place the unit banners on the map --->
<% unit_text_x = 0 - (radius/2) %>
<% unit_text_y = 20 %>
<% @units.each do |unit| %>
  <div class='unit' id='unit_<%= unit.id %>'
    style="
	  position: absolute;
	  left: <%= unit.node.x + map_offset_x - (radius/2) %>px;
	  top: <%= unit.node.y + map_offset_y - (radius/2) %>px;
	  z-index: 3
    ">
  <% if unit != current_unit %>
    <img src='<%= image_path("#{unit.map_img}") %>' /> 
  <% else %> 
    <img src='<%= image_path("#{unit.map_img}") %>' class='currentunit' />
  <% end %>
  </div>
  
  <!--- Place the text of the units strongest colour underneath --->
  <div class='strength_<%= unit.strongest %>_text'
  style="
    position: absolute;
	left: <%= map_offset_x + unit.node.x + unit_text_x %>px;
	top:  <%= map_offset_y + unit.node.y + unit_text_y %>px;
	z-index: 4
  ">
  <%= unit[unit.strongest] %>
  </div>
<% end %>

<!---- Place the background map --->
<div class='map'
  style="
	position: absolute;
	left: <%= map_offset_x %>px;
	top: <%= map_offset_y %>px;
	z-index: 1
  ">
  <img src='<%= image_path(:"map.png") %>' border='1' />
  
  <!--- Place the text next to the node --->
  <% text_x = 20 %>
  <% text_y = 0 %>
  <% @nodes.each do |node| %>
    <div class='strength_<%= node.node_type.name %>_text' id='node<%= node.id %>' 
	style="
	  position: absolute;
	  left: <%= node.x + text_x %>px;
	  top: <%= node.y + text_y %>px;
	  z-index: 2
	">
	  <%= node.strength %>
	</div>
  <% end%>
</div>

<!--- Place the unit move links on where current unit can move to --->
<% if current_player.present? %>
  <% @nodelinks.each do |nodelink| %>
     <div class='reachablenode'
	 style="
	   position: absolute;
	   left: <%= nodelink.linked_node.x + offset_x %>px;
	   top: <%= nodelink.linked_node.y + offset_y %>px;
	   z-index: 2
	 ">
	    <a href='unit_move/<%= @current_unit.id %>/<%= nodelink.id %>'>
	      <img src='<%= image_path(nodelink.linked_node.node_type.reachable_img) %>' />
		</a>
	 </div>
  <% end %>

<% end %>