<% x ||= 20 %>
<% y ||= 0 %>

<div style="
    position: absolute;
	left: <%= x %>px;
	top: <%= y %>px;
	z-index: 2
  ">
<p>
<% if current_player %>
  logged in as <%= current_player.name %>
  <%= link_to "Logout", log_out_path %>

<% else %>
  not logged in
  <%= link_to "Login", log_in_path %>
  <%= link_to "Sign up", sign_up_path %>
<% end %>

</p>
</div>