<% x ||= 1000 %>
<% y ||= 20 %>

<div style="
    position: absolute;
	left: <%= x %>px;
	top: <%= y %>px;
	z-index: 2
  ">
  <table>
    <tr>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
  <% @units.each do |unit| %>
    <tr>
      <td><%= image_tag(unit.map_img) %></td>
	  <td><%= unit.name %></td>
	  <td>
	    <% if unit.node_link %>
	      moving to <%= unit.node_link.linked_node.name %> from <%= unit.node_link.node.name %> 
	    <% else %>
	      at <%= unit.node.name %>
	    <% end %>
	  </td>
	  <td>
	    <% if unit == current_unit && unit.node_link %>
		  <%= link_to "Cancel order", unit_cancel_move_path(unit) %>
		<% end %>
	  </td>
	  <td><div class='strength_red_text'>  <%= unit.red   %></div></td>
	  <td><div class='strength_blue_text'> <%= unit.blue  %></div></td>
	  <td><div class='strength_green_text'><%= unit.green %></div></td>
  <% end %>
  </table>
</div>