<% @units.each do |unit| %>
  <div class='unit' id='unit_<%= unit.id %>'
    style="
	  position: absolute;
	  left: <%= unit.node.x - (20/2) %>px;
	  top: <%= unit.node.y - (20/2) %>px;
	  z-index: 2
    ">
  <img src='<%= image_path("#{unit.map_img}") %>' />
  </div>
<% end %>

<div class='map'
  style="
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1
  ">
  <img src='<%= image_path("map.png") %>' usemap='#mapper' border='1' />
</div>

<map name='mapper' id='mapper'>
<% @nodes.each do |node| %>
  <area shape='circle' coords='<%= node.x %>, <%= node.y %>, 20' 
    href='unit_move/1/<%= node.id %>' />
<% end %>
</map>

<div
  style="
    position: absolute;
	left: 20px;
	top: 400px;
	z-index: 1
  ">
  <p>Click on a node to move the selected unit there. Units can currently only move along nodes
  defined in the <%= link_to "node_links table", node_links_path %></p>
</div>

<div
  style="
    position: absolute;
	left: 20px;
	top: 455px;
	z-index: 2
  ">
  <p id="notice"><%= notice %></p>
</div>