
<%= render :partial => 'player',        :locals => { :x => 20,   :y => 0 } %>
<%= render :partial => 'map',           :locals => { :x => 20,   :y => 40,  :current_unit => @current_unit } %>
<%= render :partial => 'unit_orders',   :locals => { :x => 1000, :y => 20,  :current_unit => @current_unit } %>
<%= render :partial => 'battle_report', :locals => { :x => 20,   :y => 450, :battle_report => @battle_report } %>

<% under_map_x = 20 %>
<% under_map_y = 400 %>

<div
  style="
    position: absolute;
	left: <%= under_map_x %>px;
	top: <%= under_map_y %>px;
	z-index: 1
  ">
  <p>
    <%= link_to "Trigger Server Turn Update", test_turn_path %>
	This link is used for testing purposes to simulate $turn_length amount of time passing.
  </p>

</div>

<% notice_x = 400 %>
<% notice_y = 0 %>

<div
  style="
    position: absolute;
	left: <%= notice_x %>px;
	top: <%= notice_y %>px;
	z-index: 2
  ">
  <p id="notice"><%= notice %></p>
</div>